:root{
    filter:invert(1) hue-rotate(180deg) brightness(0.8) contrast(0.8);
}

body{
    margin:0px;
    user-select:none;
    -webkit-user-select:none;
    overflow:hidden;
    background-color:white;
}
header{
    background-color:whitesmoke;
    height:36px;
    position:relative;
    z-index:3;
    display:flex;
    align-items:center;
}
header > div{
    padding:5px;
}
.h-play{
    margin-left:auto;
}
.b-play{
    padding:5px 25px;
}
.grid2{
    background-image:url(/assets/grid.png);
    background-size:32px;
    width:100%;
    height:100%;
    image-rendering:pixelated;
    position:absolute;
}
.grid{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
.main{
    width:100%;
    height:calc(100vh - 72px);
}
.toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:36px;
    z-index:2;
    position:relative;
    background-color:white;
}
input[type="text"]{
    padding:5px;
}
textarea{
    box-sizing:border-box;
    width:100% !important;
    resize:vertical;
}
button{
    padding:5px 10px;
}

.board{
    width:100px;
    height:100px;
    font-size:14px;
    border:solid 1px gray;
    background-color:whitesmoke;
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    padding:5px;
    user-select:none;
    -webkit-user-select:none;
    cursor:move;
    translate:-50% -50%;

    transition:border 0.3s ease-out;
}
.board .title{

}
.board .tag{
    margin-top:5px;
    font-size:13px;
    opacity:0.7;
}

.connect{
    position:absolute;
    translate:-50% -50%;
    top:0px;
    left:0px;
    --col:gray;
    z-index:0;
}
.connect.highlight{
    --col:dodgerblue !important;
    --filter:hue-rotate(220deg) brightness(2) contrast(0.8) !important;
    & .choice{
        color:rgb(11, 44, 77);
        scale:1.1;
    }
}
.connect .beam{
    border:dotted 2px var(--col);
    opacity:0.75;
    position:relative;
}
.connect .beam::after{
    content:"";
    position:absolute;
    width:12px;
    height:12px;
    background-image:url(/assets/chevron.png);
    background-repeat:no-repeat;
    background-size:contain;
    image-rendering:pixelated;
    left:calc(100% - 20px);
    top:100%;
    transform:translate(-50%,-50%) rotate(135deg);
    filter:var(--filter);
}
.connect .beam::before{
    content:"";
    position:absolute;
    width:12px;
    height:12px;
    background-image:url(/assets/chevron.png);
    background-repeat:no-repeat;
    background-size:contain;
    image-rendering:pixelated;
    left:15px;
    top:0px;
    transform:translate(-50%,-50%) rotate(135deg);
    filter:var(--filter);
}
.connect .joint{
    border:solid 5px var(--col);
    background-color:white;
    border-radius:50%;
    width:5px;
    height:5px;
    translate:-50% -50%;
    left:50%;
    top:50%;
    position:absolute;
}
.connect .choice{
    /* color:var(--col); */
    color:red;
    font-size:14px;
    /* border:solid 1px gray; */
    border:solid 1px currentColor;
    background-color:white;
    padding:3px 6px;
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    z-index:9999;
    width:max-content;
    max-width:100px;
}

.origin{
    width:30px;
    height:30px;
    translate:-50% -50%;
    background-color:green;
    position:absolute;
    border-radius:50%;
}

.pane{
    position:absolute;
    background-color:white;
    transition:translate 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index:10;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    padding:12px;
}
.pane .head{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.pane .body{
    overflow-y:scroll;
    height:calc(100vh - 150px);
}
.pane .close{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:gainsboro;
    /* border-radius:50%; */
    width:28px;
    height:28px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:15px;
}
.pane h2{
    margin-top:5px;
    margin-bottom:5px;
}
.pane hr{
    margin-bottom:36px;
}
.edit-board{
    width:300px;
    height:100vh;
    border-right:solid 1px gray;
    box-shadow:5px 0px 10px 10px rgba(0,0,0,0.03);
    translate:-100% 0px;
}
.edit-choice{
    translate:100% 0px;
}
.pane.open{
    translate:0px 0px;
}

.sel{
    border:dotted 3px dodgerblue;
    border-radius:5px;
}

.choice-list{
    display:flex;
    flex-direction:column;
}
.choice-list > div{
    height:36px;
    padding:5px;
    margin:5px;
    background-color:gainsboro;
    border-radius:5px;
    display:flex;
    align-items:center;
    gap:5px;

    & input{
        box-sizing:border-box;
        height:100%;
        width:100%;
    }
    & .label{
        width:100%;
        font-size:14px;
        text-transform:none;
    }
}
.add-choice{

}
.b-add-choice{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}
.b-remove-choice{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    width:37px;
    height:37px;
}

.note{
    font-style:italic;
    color:gray;
    text-transform:none;
    margin:15px 0px;
    font-weight:normal;
    font-size:15px;
}